/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/ca/board-size.page
/ca/bug-filing.page
/ca/ca.mo
/ca/ca.stamp
/ca/develop.page
/ca/documentation.page
/ca/faces.page
/ca/flags.page
/ca/get-help.page
/ca/high-scores.page
/ca/index.page
/ca/license.page
/ca/new-game.page
/ca/rules.page
/ca/shortcuts.page
/ca/toolbar.page
/ca/translate.page
/cs/board-size.page
/cs/bug-filing.page
/cs/cs.mo
/cs/cs.stamp
/cs/develop.page
/cs/documentation.page
/cs/faces.page
/cs/flags.page
/cs/get-help.page
/cs/high-scores.page
/cs/index.page
/cs/license.page
/cs/new-game.page
/cs/rules.page
/cs/shortcuts.page
/cs/toolbar.page
/cs/translate.page
/da/board-size.page
/da/bug-filing.page
/da/da.mo
/da/da.stamp
/da/develop.page
/da/documentation.page
/da/faces.page
/da/flags.page
/da/get-help.page
/da/high-scores.page
/da/index.page
/da/license.page
/da/new-game.page
/da/rules.page
/da/shortcuts.page
/da/toolbar.page
/da/translate.page
/de/board-size.page
/de/bug-filing.page
/de/de.mo
/de/de.stamp
/de/develop.page
/de/documentation.page
/de/faces.page
/de/flags.page
/de/get-help.page
/de/high-scores.page
/de/index.page
/de/license.page
/de/new-game.page
/de/rules.page
/de/shortcuts.page
/de/toolbar.page
/de/translate.page
/el/board-size.page
/el/bug-filing.page
/el/develop.page
/el/documentation.page
/el/el.mo
/el/el.stamp
/el/faces.page
/el/flags.page
/el/get-help.page
/el/high-scores.page
/el/index.page
/el/license.page
/el/new-game.page
/el/rules.page
/el/shortcuts.page
/el/toolbar.page
/el/translate.page
/en_GB/board-size.page
/en_GB/bug-filing.page
/en_GB/develop.page
/en_GB/documentation.page
/en_GB/en_GB.mo
/en_GB/en_GB.stamp
/en_GB/faces.page
/en_GB/flags.page
/en_GB/get-help.page
/en_GB/high-scores.page
/en_GB/index.page
/en_GB/license.page
/en_GB/new-game.page
/en_GB/rules.page
/en_GB/shortcuts.page
/en_GB/toolbar.page
/en_GB/translate.page
/es/board-size.page
/es/bug-filing.page
/es/develop.page
/es/documentation.page
/es/es.mo
/es/es.stamp
/es/faces.page
/es/flags.page
/es/get-help.page
/es/high-scores.page
/es/index.page
/es/license.page
/es/new-game.page
/es/rules.page
/es/shortcuts.page
/es/toolbar.page
/es/translate.page
/eu/board-size.page
/eu/bug-filing.page
/eu/develop.page
/eu/documentation.page
/eu/eu.mo
/eu/eu.stamp
/eu/faces.page
/eu/flags.page
/eu/get-help.page
/eu/high-scores.page
/eu/index.page
/eu/license.page
/eu/new-game.page
/eu/rules.page
/eu/shortcuts.page
/eu/toolbar.page
/eu/translate.page
/fr/board-size.page
/fr/bug-filing.page
/fr/develop.page
/fr/documentation.page
/fr/faces.page
/fr/flags.page
/fr/fr.mo
/fr/fr.stamp
/fr/get-help.page
/fr/high-scores.page
/fr/index.page
/fr/license.page
/fr/new-game.page
/fr/rules.page
/fr/shortcuts.page
/fr/toolbar.page
/fr/translate.page
/gl/board-size.page
/gl/bug-filing.page
/gl/develop.page
/gl/documentation.page
/gl/faces.page
/gl/flags.page
/gl/get-help.page
/gl/gl.mo
/gl/gl.stamp
/gl/high-scores.page
/gl/index.page
/gl/license.page
/gl/new-game.page
/gl/rules.page
/gl/shortcuts.page
/gl/toolbar.page
/gl/translate.page
/hu/board-size.page
/hu/bug-filing.page
/hu/develop.page
/hu/documentation.page
/hu/faces.page
/hu/flags.page
/hu/get-help.page
/hu/high-scores.page
/hu/hu.mo
/hu/hu.stamp
/hu/index.page
/hu/license.page
/hu/new-game.page
/hu/rules.page
/hu/shortcuts.page
/hu/toolbar.page
/hu/translate.page
/it/board-size.page
/it/bug-filing.page
/it/develop.page
/it/documentation.page
/it/faces.page
/it/flags.page
/it/get-help.page
/it/high-scores.page
/it/index.page
/it/it.mo
/it/it.stamp
/it/license.page
/it/new-game.page
/it/rules.page
/it/shortcuts.page
/it/toolbar.page
/it/translate.page
/ja/board-size.page
/ja/bug-filing.page
/ja/develop.page
/ja/documentation.page
/ja/faces.page
/ja/flags.page
/ja/get-help.page
/ja/high-scores.page
/ja/index.page
/ja/ja.mo
/ja/ja.stamp
/ja/license.page
/ja/new-game.page
/ja/rules.page
/ja/shortcuts.page
/ja/toolbar.page
/ja/translate.page
/oc/board-size.page
/oc/bug-filing.page
/oc/develop.page
/oc/documentation.page
/oc/faces.page
/oc/flags.page
/oc/get-help.page
/oc/high-scores.page
/oc/index.page
/oc/license.page
/oc/new-game.page
/oc/oc.mo
/oc/oc.stamp
/oc/rules.page
/oc/shortcuts.page
/oc/toolbar.page
/oc/translate.page
/pt_BR/board-size.page
/pt_BR/bug-filing.page
/pt_BR/develop.page
/pt_BR/documentation.page
/pt_BR/faces.page
/pt_BR/flags.page
/pt_BR/get-help.page
/pt_BR/high-scores.page
/pt_BR/index.page
/pt_BR/license.page
/pt_BR/new-game.page
/pt_BR/pt_BR.mo
/pt_BR/pt_BR.stamp
/pt_BR/rules.page
/pt_BR/shortcuts.page
/pt_BR/toolbar.page
/pt_BR/translate.page
/sl/board-size.page
/sl/bug-filing.page
/sl/develop.page
/sl/documentation.page
/sl/faces.page
/sl/flags.page
/sl/get-help.page
/sl/high-scores.page
/sl/index.page
/sl/license.page
/sl/new-game.page
/sl/rules.page
/sl/shortcuts.page
/sl/sl.mo
/sl/sl.stamp
/sl/toolbar.page
/sl/translate.page
/so_locations
/sr/board-size.page
/sr/bug-filing.page
/sr/develop.page
/sr/documentation.page
/sr/faces.page
/sr/flags.page
/sr/get-help.page
/sr/high-scores.page
/sr/index.page
/sr/license.page
/sr/new-game.page
/sr/rules.page
/sr/shortcuts.page
/sr/sr.mo
/sr/sr.stamp
/sr/toolbar.page
/sr/translate.page
/sr@latin/board-size.page
/sr@latin/bug-filing.page
/sr@latin/develop.page
/sr@latin/documentation.page
/sr@latin/faces.page
/sr@latin/flags.page
/sr@latin/get-help.page
/sr@latin/high-scores.page
/sr@latin/index.page
/sr@latin/license.page
/sr@latin/new-game.page
/sr@latin/rules.page
/sr@latin/shortcuts.page
/sr@latin/sr@latin.mo
/sr@latin/sr@latin.stamp
/sr@latin/toolbar.page
/sr@latin/translate.page
/sv/board-size.page
/sv/bug-filing.page
/sv/develop.page
/sv/documentation.page
/sv/faces.page
/sv/flags.page
/sv/get-help.page
/sv/high-scores.page
/sv/index.page
/sv/license.page
/sv/new-game.page
/sv/rules.page
/sv/shortcuts.page
/sv/sv.mo
/sv/sv.stamp
/sv/toolbar.page
/sv/translate.page
/tags
/zh_CN/board-size.page
/zh_CN/bug-filing.page
/zh_CN/develop.page
/zh_CN/documentation.page
/zh_CN/faces.page
/zh_CN/flags.page
/zh_CN/get-help.page
/zh_CN/high-scores.page
/zh_CN/index.page
/zh_CN/license.page
/zh_CN/new-game.page
/zh_CN/rules.page
/zh_CN/shortcuts.page
/zh_CN/toolbar.page
/zh_CN/translate.page
/zh_CN/zh_CN.mo
/zh_CN/zh_CN.stamp
