/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/gnome-mines
/gnome-mines.c
/gnome_mines_vala.stamp
/history.c
/minefield-view.c
/minefield.c
/so_locations
/tags
